* {
  box-sizing: border-box;
}
header {
  text-align: center;
  height: 100px;
}
body {
  background-color: black;
  color: limegreen;
  font-family: monospace;
}

/* -----MAIN STYLING - FLEXBOX CONTAINER----- */
main {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 100px;
}

/* -----GRID SYLING----- */
.grid {
  border: 1px solid white;
  height: 400px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  gap: 0px;
}
.grid div {
  border: 1px solid white;
  height: 50px;
  width: 50px;
}
.scoreboard {
  border: 2px solid white;
  height: 200px;
  width: 400px;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  padding: 20px;
  font-size: 20px;
}
.score,
.lives {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.lives {
  gap: 20px;
}
.lives-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lives-container img {
  height: 50px;
}

/* -----PLAYER STYLING----- */
.player {
  background: url("./images/ship_J.png");
  background-size: cover;
}

/* -----ALIEN STYLING----- */
.alien {
  background: url("./images/enemy_C.png");
  background-size: cover;
}

/* -----SHOOT STYLING----- */
.bullet {
  background: url("./images/effect_yellow.png");
  background-size: cover;
}

/* -----BOMB STYLING ----- */
.bomb {
  background-color: white;
}

.hidden {
  display: none;
}

/* -----GAME OVER STYLING----- */
.gameover-container {
  position: fixed;
  top: 150px;
  z-index: 500;
  width: 100%;
  height: 300px;
}
.gameover {
  width: 40%;
  height: 100%;
  z-index: 600;
  background-color: black;
  border: 1px solid limegreen;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}
